* text=auto

*.c text eol=lf
*.md text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.sh.in text eol=lf
alpine/* text eol=lf
Dockerfile text eol=lf
tools/agent-harness/schemas/mxc-config.schema.0.9.0-dev.json -text
